.idarb {
  height: 150px;
  width: 80px;
  background-color: crimson;
}

.idarb:hover {
  background-color: blue;
  height: 200px;
  transition: background-color 3s;
}

.face {
  width: 62px;
  height: 40px;
  background-color: burlywood;
  padding: 10px 0 0 18px;
}

.hair {
  width: 80px;
  height: 20px;
  background-color: #000;
}

.eye {
  width: 20px;
  height: 20px;
  background-color: #000;
  display: inline-block;
  vertical: top;
}
