.container {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: wrap;
}

.box {
  height: 200px;
  width: 200px;
}

.box1 {
  background-color: burlywood;

}

.box2 {
  background-color: crimson;

}

.box3 {
  background-color: blue;

}

.box4 {
  background-color: deeppink;

}

.box5 {
  background-color: chartreuse;

}

.box6 {
  background-color: black;

}

.box7 {
background-color: blanchedalmond;
}

.box8 {
background-color: coral;
}

.box9 {
  background-color: cornflowerblue;

}

.box10 {
background-color: darkgoldenrod;
}
